/*FONT*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Pacifico&display=swap');
/*font-family: 'Inter', sans-serif;
font-family: 'Pacifico', cursive;*/


/*VARIAVEIS*/

:root {
    --color-primary: #2E245E;
    --color-secondary: #6B54DE;
    --light-grey: #828282;
    --dark-grey: #333333;
    --very-light-grey: #F5F5F5;
}


/*HEADER*/
header {
    width: 100%;

}

h1 {
    margin: 5px;
    padding: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}

.topo {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.large-container img {
    border-radius: 80%;
    width: 70px;
    margin: 10px;
    float: left;

}

figcaption {
    display: none;
}

.large-container {
    background-color: var(--very-light-grey);
    width: 100%;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.menu {
    width: 100%;
    font-size: 13px;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
}

.menu ul li {
    width: 150px;
    justify-content: space-between;
}

.menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--light-grey);

}

.menu a:hover {
    color: var(--dark-grey);
}


#menu_bt {
    display: none;
}

label[for="menu_bt"] {
    padding: 5px 5px;

    color: #818181;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 90px;
    height: 50px;
    border: none;
    display: block;
    justify-content: flex-end;
    align-items: center;
}

main {
    width: 100%;
}

.imagemDoProduto {
    background-color: var(--very-light-grey);

}

.imagemDoProduto img {
    width: 80%;
    height: 120px;
}

article.flex {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-auto-rows: 30%;
    justify-content: space-between;
    row-gap: 30%;
    width: 100%;
    padding: 30px;
    margin: 10px auto;
    box-sizing: border-box;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.frame {
    width: 72px;
    height: 26px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--color-primary);
    margin:20px;
}

.informacoesDoProduto {
    box-sizing: border-box;
    padding: 20px 15px;
}

.gradeDeProdutos h2 {
    color: var(--dark-grey);
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.gradeDeProdutos p {
    color: var(--light-grey);
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.gradeDeProdutos .valor {
    color: var(--color-primary);
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.descricaoProduto{
    width: 196px;
    height: 115px;
    padding:20px 15px;
    box-sizing: border-box;
}

div.flex-col button {

    color: var(--light-grey);
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    border:none;
    background-color: none;
}

@media (max-width: 425px) {
    nav.menu ul {
        display: none;
    }
}

@media (min-width: 767px) {

    body {
        width: 100%;
    }

    header {
        width: 100%;
    }

    .large-container {
        display: flex;
        background-color: var(--very-light-grey);
        width: 100%;
        height: 90px;
        font-family: 'Inter', sans-serif;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    }

    .menu {
        width: 50%;
        height: 85px;
        background-color: var(--dark-blue);
        font-size: 13px;
    }

    .menu ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 50%;
        height: 75px;
        float: right;
        margin-right: 40px;
    }

    .menu ul:hover {
        color: var(--light-grey)
    }

    .menu ul li:hover {
        font-weight: bold;
    }

    .menu ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 50%;
        height: 75px;
        float: right;
        margin-right: 40px;
    }

    .menu ul:hover {
        color: var(--light-grey)
    }

    .menu ul li:hover {
        font-weight: bold;
    }


    label[for="menu_bt"] {
        display: none;
    }

    .gradeDeProdutos {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

    details {
        text-decoration: none;
    }

    .imagemDoProduto {
        width: 300px;
        height: 150px;
        margin: -4px 2px;
    }

    .imagemDoProduto img {
        width: 191px;
        height: 140px;
        margin: 5px 54px;
    }

    article.flex {
        grid-template-rows: 30% auto;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
        margin: 10px;
        align-items: stretch;
        justify-items: stretch;
    }

    div.flex-col {
        width: 350px;
        height: 480px;
        border: 2px solid var(--very-light-grey);
        box-sizing: border-box;
        padding: 20px 15px;

    }

    .informacoesDoProduto {
        width: 296px;
        height: 215px;

    }
    .descricaoProduto {
    width: 296px;
    height: 190px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
    margin: 15px 3px;
}
}